<div class="well" ng-controller="authCtrl">
  
   <div class="alert alert-info" ng-hide="authenticationError">
   	  Enter your username and pasword and click log in to authenticate
   </div>

   <div class="alert alert-danger" ng-show="authenticationError">
      Authentication Failed{{authenticationError.status}}.Try Again.
   </div>

   <form name="authForm" novalidate>
     <div class="form-group">
       <label>Username</label>
       <input name="username" class="form-control" ng-model="username" required/>
     </div>

     <div class="form-group">
       <label>Password</label>
       <input name="password" class="form-control" ng-model="password" required/>
     </div>
   </form>
 
   <div class="text-center">
     <button class="btn btn-primary" ng-click="authenticate(username,password)" ng-disabled="authForm.$invalid">
       Log In
     </button>
   </div>
  </form>

</div>