<style>
    .ng-invalid {background-color: lightpink;}
    .ng-valid {background-color: lightgreen;}
    span.error {color:red; font-weight:bold;}
</style>


<h2 align="center">Check Out Now</h2>
<p align="center">Please enter your details, and we'll ship your goods right aways!</p>

<form name="shippingform" novalidate>
  <div class="well">
	<h3>Ship to</h3>
	<div class="form-group">
        <lable>Name</label>
        	<input name="name" class="form-control" ng-model="data.shipping.name" required/>
        	 <span class="error" ng-show="shippingform.name.$error.required">Please enter a name</span>
	</div>

	<h3>Address</h3>

	<div class="form-group">
	   <label>Street Address</label>
	   <input name="street"  class="form-control" ng-model="data.shipping.street" required/>
	  <span class="error" ng-show="shippingform.street.$error.required">Please enter a Address</span>
	</div>

    <div class="form-group">
    	<label>City</label>
    	<input name="city" class="form-control" ng-model="data.shipping.city" required/>
    	<span class="error" ng-show="shippingform.city.$error.required">Please enter a city</span>
    </div>	
	
    <div class="form-group">
        <label>State</label>
        <select name="state" class="error" ng-model="data.shipping.state" required/> 
        	<option value="Alabama">AL</option>
            <option value="Alaska">AK</option>
            <option value="Arizona">AZ</option>
            <option value="Arkansas">AR</option>
            <option value="California">CA</option>
            <option value="Colorado">CO</option>
            <option value="Connecticut">CT</option>
            <option value="Delware">DE</option>
            <option value="Florida">FL</option>
            <option value="Georgia">GA</option>
            <option value="Hawaii">HI</option>
            <option value="Idaho">ID</option>
            <option value="Illinois">IL</option>
            <option value="Indiana">IN</option>
            <option value="Iowa">IA</option>
            <option value="Kansas">KS</option>
            <option value="Kentucky">KY</option>
            <option value="Louisiana">LA</option>
            <option value="Maine">ME</option>
            <option value="Maryland">MD</option>
            <option value="Massachusetts">MA</option>
            <option value="Michigan">MI</option>
            <option value="Minnesota">MN</option>
            <option value="Mississippi">MS</option>
            <option value="Missouri">MO</option>
            <option value="Montana">MT</option>
            <option value="Nebraska">NE</option>
            <option value="Nevada">NV</option>
            <option value="New Hampshire">NH</option>
            <option value="New Jersey">NJ</option>
            <option value="New Mexico">NM</option>
            <option value="New York">NY</option>
            <option value="North Carolina">NC</option>
            <option value="North Dakota">ND</option>
            <option value="Ohio">OH</option>
            <option value="Oklahoma">OK</option>
            <option value="Oregon">OR</option>
            <option value="Pennsylvania">PA</option>
            <option value="Rhode Island">RI</option>
            <option value="South Carolina">SC</option>
            <option value="South Dakota">SD</option>
            <option value="Tennessee">TN</option>
            <option value="Texas">TX</option>
            <option value="Utah">UT</option>
            <option value="Vermont">VT</option>
            <option value="Virginia">VA</option>
            <option value="Washington">WA</option>
            <option value="West Virginia">WV</option>
            <option value="Wisconsin">WI</option>
            <option value="Wyoming">WY</option>
        </select>
        <strong>{{data.shipping.state}}</strong>
        <span class="error" ng-show="shippingform.state.$error.required">Please Select a State</span>
    </div>	

    <div class="form-group">
    	<label>Zip Code</label>
    	<input name="zip" class="form-control" ng-model="data.shipping.zip"/ required>
    	<span class="error" ng-show="shippingform.zip.$error.required">Please Enter Zip Code</span>
    </div>

    <div class="form-group">
        <label>Country</label>
        <input name="country "class="form-control" ng-model="data.shipping.country"/ required>
        <span class="error" ng-show="shippingform.country.$error.required">Please enter Country</span>
    </div>
    
    <div class="form-group">
        <label>
          <input name="gift" type="checkbox" ng-model="data.shipping.gift"/>
           Wrap items as a gift (Optional)
        </label>

    </div>


	<div class="text-center">
      <button ng-disabled="shippingform.$invalid" class="btn btn-primary" ng-click="sendOrder(data.shipping)">Complete order</button>
       
	</div>
  </div>
 </form> 